<div *ngIf="!dealerHand.length">
  <button class="deal" (click)="deal()">Start Deal</button>
</div>

Cards left: {{deck.length}}<br/><br/>


<div *ngIf="dealerHand.length">
  Dealer: {{dealerTotal}}<br/>

  <div *ngIf="!busted">
    <!--{{dealerHand[1].id}} of {{dealerHand[1].suit}}<br/>-->
    <img width="4%" src={{dealerHand[1].image}}/>
  </div>
  <div *ngIf="busted">
    <div *ngFor='let card of dealerHand' style="display: inline">
      <!--{{card.id}} of {{card.suit}}<br/>-->
      <img width="4%" src={{card.image}}/>
    </div>
  </div>
</div>

<br/>

<div *ngIf="playerHand.length">
  Player: {{playerTotal}}<br/>

  <div *ngFor='let card of playerHand' style="display: inline;">
    <!--{{card.id}} of {{card.suit}}<br/>-->
    <img width="4%" src={{card.image}}>
  </div>
</div>

<div *ngIf="playerHand.length">
  <button [disabled]="busted" (click)="hit()">Hit</button>
  <button [disabled]="busted" (click)="stay()">Stay</button>
</div>

<br/><br/>

<div *ngIf="gameOver">
  Winner is the {{winner}}<br/>
  <button (click)="redeal()">Play Again</button>
</div>

<!--<img width="4%" src={{deck[0].image}}/>-->
