<div *ngIf="!dealerHand.length">
  <button class="deal" (click)="deal()">Start Deal</button>
</div>
<div *ngIf="dealerHand.length">
  Dealer: {{dealerTotal}}<br/>

  <div *ngIf="!players[players.length - 1].busted">
    <!--{{dealerHand[1].id}} of {{dealerHand[1].suit}}<br/>-->
    <img width="4%" src={{dealerHand[1].image}}/>
  </div>
  <div *ngIf="players[players.length - 1].busted">
    <div *ngFor='let card of dealerHand' style="display: inline">
      <!--{{card.id}} of {{card.suit}}<br/>-->
      <img width="4%" src={{card.image}}/>
    </div>
  </div>
</div>

<br/>

<div *ngFor="let player of players; trackBy: updatePlayers">
  <div *ngIf="player.length">
    Player: {{player.playerTotal}}<br/>

    <div *ngFor='let card of player' style="display: inline;">
      <img width="4%" src={{card.image}}>
    </div>
  <!--</div>-->
<br/>
  <!--<div *ngIf="player.length">-->
    <button [disabled]="player.busted || !player.isUp" (click)="hit(player)">Hit</button>
    <button [disabled]="player.busted || !player.isUp" (click)="stay(player)">Stay</button>
    <button [hidden]="player[0].value != player[1].value || player.busted || !player.isUp" (click)="split(player)">Split</button>
    <div *ngIf="gameOver">
      {{player.winner}}
    </div>
  </div>
  <br/>
</div>

<div *ngIf="gameOver">
  <button (click)="redeal()">Play Again</button>
</div>

<!--<img width="4%" src={{deck[0].image}}/>-->
